allow system_server gps_data_file:dir w_dir_perms;
allow system_server gps_data_file:fifo_file create_file_perms;
allow system_server power_device:chr_file { open write };
allow system_server graphics_device:chr_file { getattr open write };
